
Host freya01.bc.rzg.mpg.de freya02.bc.rzg.mpg.de freya03.bc.rzg.mpg.de freya04.bc.rzg.mpg.de
	ProxyCommand ssh -X dmpowell@slogin.mpa-garching.mpg.de nc %h %p 


Host cobra01i.mpcdf.mpg.de cobra02i.mpcdf.mpg.de
	ProxyCommand ssh -X dmpowell@slogin.mpa-garching.mpg.de nc %h %p 
