###############
# .ssh/config #
###############


Host freya-remote
	HostName freya04.bc.rzg.mpg.de
	ProxyCommand ssh mpa-slogin nc %h %p 

Host cobra-remote
	HostName cobra02i.mpcdf.mpg.de
	ProxyCommand ssh mpa-slogin nc %h %p 

Host raven-remote
	HostName raven02i.mpcdf.mpg.de
	ProxyCommand ssh mpa-slogin nc %h %p 


Host freya
	HostName freya04.bc.rzg.mpg.de

Host cobra
	HostName cobra02i.mpcdf.mpg.de

Host raven
	HostName raven01i.mpcdf.mpg.de

Host mpa-slogin
	HostName slogin.mpa-garching.mpg.de
	#IdentityFile ~/.ssh/mpa-slogin.key

Host *
	User dmpowell
	Compression yes
	ForwardX11 yes
	ServerAliveInterval 60
	ServerAliveCountMax 30
	ControlPath ~/.ssh/controlmasters/%r@%h:%p
	ControlMaster auto
	ControlPersist yes


